<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Home</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/customer-register" class="nav-link">Customer Register</a>
            </li>
            <li class="nav-item">
                <a href="/customer-list" class="nav-link">Customer List</a>
            </li>
        </ul>
    </div>
</nav>